.search-panel {
  max-width: 944px;
  height: 43px;
  border-radius: 8px;
  background: #E4E3DC;
  width: 100%;
  border: none;
  padding: 2px 0px 0px 47px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

.search-panel__wrapper {
  max-width: 944px;
  height: 43px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  flex: 1 1 auto;
}

.search-panel::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #969696;
}

.search-panel__wrapper::after {
  z-index: 10;
  content: url('./../../../assets/icons/search.svg');
  position: absolute;
  left: 16px;
  top: 11px;
  width: 40px;
  height: 50px;
}