.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-flow: nowrap row;
  margin-bottom: 20px;
}

.header-logo {
  margin: 8px 24px 0px 0px ;
}

@media (max-width: 720px) {
  .header {
    flex-direction: column;
  }
}