body, html {
  font-family: Muller;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #FEFCF5;
  color: #222222;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  min-height: 100%;
}

#root > div {
  height: 100%;
  min-height: 100%;
}

.container {
  max-width: 1512px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 50px 0px 50px;
}